<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggq.producer.repository.TestMapper">


  <sql id="baseColumn">
    id
  </sql>

  <select id="selectById" parameterType="Integer" resultType="com.xinggq.producer.entity.Test">
    select
    <include refid="baseColumn"/>
    from test where id=#{id}

  </select>


</mapper>